<div class="fh5co-counters animated" data-stellar-background-ratio="0.5" id="counter-animate">
  <div class="fh5co-narrow-content animate-box fadeInUp animated">
    <div class="row">
      <div class="col-md-6 text-center">
        <span class="fh5co-counter js-counter" data-from="0" data-to="5450" data-speed="5000" data-refresh-interval="50">5450</span>
        <span class="fh5co-counter-label">Clients</span>
      </div>
      <div class="col-md-6 text-center">
        <span class="fh5co-counter js-counter" data-from="0" data-to="6876" data-speed="5000" data-refresh-interval="50">6876</span>
        <span class="fh5co-counter-label">Satisfied Client</span>
      </div>
    </div>
  </div>
</div>