<header>
  <div class="container">
    <div class="fh5co-navbar-brand">
      <div class="row">
        <div class="col-xs-6">
          <h1 class="text-left"><a class="fh5co-logo" href="index.html"><span>Draw</span> Site <span>Theme your Dream</span></a></h1>
        </div>
        <div class="col-xs-5">
          <p class="fh5co-social-icon text-right">
            <a href="#"><i class="icon-twitter2"></i></a>
            <a href="#"><i class="icon-facebook2"></i></a>
            <a href="#"><i class="icon-instagram"></i></a>
            <a href="#"><i class="icon-dribbble2"></i></a>
            <a href="#"><i class="icon-youtube"></i></a>
          </p>
        </div>
        <div class="col-xs-1">
          <a href="#" 
          [attr.data-login]="userStatus === false ? 'guest' : 'user'" 
          class="js-fh5co-nav-toggle-login js-fh5co-nav-toggle-login-register"
          (click)="loginLogoutClick(); $event.preventDefault();">
            <i *ngIf="userStatus === false" class="icon-login"></i>
            <i *ngIf="userStatus === true" class="icon-log-out"></i>
          </a>
        </div>
      </div>
      <a class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
    </div>
  </div>
</header>