header {
    a.js-fh5co-nav-toggle-login-register {
        color: #000;
        line-height: 50px;

        &[ng-click]{
            cursor: pointer;
        }

        &:hover, &:focus {
            text-decoration: none;
        }
    }
}