.login-register-page {
    input {
        height: 35px;
        border-radius: 0;
    }
    .col-form-label {
        color: #fff;
        font-weight: 600;
        font-family: 'Roboto';
        text-align: right;
    }
}