<nav class="login-register-page" id="fh5co-main-nav-login-register" role="navigation">
    <a
    (click)="loginLogoutClick(); $event.preventDefault();"
    class="js-fh5co-nav-toggle-login-register fh5co-nav-toggle active"><i></i></a>
    <div class="js-fullheight fh5co-table">
      <div class="fh5co-table-cell js-fullheight">
        <h1 class="text-center"><a class="fh5co-logo" href="index.html">Login/Register</a></h1>
        
        <div class="row mx-0">
          <div class="col-md-6 col-sm-12 py-2">
            <form name="login-form">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="username">User Name: </label>
                <div class="col-sm-8">
                  <input name="username" [(ngModel)]="userData.username" data-type="login" class="form-control" type="text" required />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="password">Password: </label>
                <div class="col-sm-8">
                  <input name="password" [(ngModel)]="userData.password" data-type="login" class="form-control" type="password" required />
                </div>
              </div>

              <div>
                <button class="btn btn-light" type="button" (click)="loginClick()">Login</button>
              </div>
            </form>
          </div>
          <div class="col-md-6 col-sm-12 py-2 bl-1">
            <form name="register-form">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="firstname">First Name: </label>
                <div class="col-sm-8">
                  <input [(ngModel)]="userDetails.firstname" name="firstname" class="form-control" type="text" required />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="lastname">Last Name: </label>
                <div class="col-sm-8">
                  <input [(ngModel)]="userDetails.lastname" name="lastname" class="form-control" type="text" required />
                </div>
              </div>
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="displayname">Display Name: </label>
                  <div class="col-sm-8">
                    <input [(ngModel)]="userDetails.displayname" name="displayname" class="form-control" type="text" required />
                  </div>
                </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="username">User Name: </label>
                <div class="col-sm-8">
                  <input [(ngModel)]="userDetails.username" name="username" class="form-control" type="text" required />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="password">Password: </label>
                <div class="col-sm-8">
                  <input [(ngModel)]="userDetails.password" name="password" class="form-control" type="password" required />
                </div>
              </div>

              <div>
                <button class="btn btn-light register-submit" (click)="registerClick()" type="button">Register</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </nav>
