<nav id="fh5co-main-nav" role="navigation">
  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
  <div class="js-fullheight fh5co-table">
    <div class="fh5co-table-cell js-fullheight">
      <h1 class="text-center"><a class="fh5co-logo" href="index.html">Words</a></h1>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <p class="fh5co-social-icon">
        <a href="#"><i class="icon-twitter2"></i></a>
        <a href="#"><i class="icon-facebook2"></i></a>
        <a href="#"><i class="icon-instagram"></i></a>
        <a href="#"><i class="icon-dribbble2"></i></a>
        <a href="#"><i class="icon-youtube"></i></a>
      </p>
    </div>
  </div>
</nav>