<app-navigation></app-navigation>

<app-login-register></app-login-register>

<div id="fh5co-page">
  <app-header-global></app-header-global>

  <aside id="fh5co-hero" class="js-fullheight">
    <app-slider [id]="1"></app-slider>
  </aside>


  <app-panel [viewType]="1"></app-panel>

  <app-panel [viewType]="2"></app-panel>

  <app-counter></app-counter>

  <footer>
    <app-footer-global></app-footer-global>
  </footer>
      
</div>