<ng-template 
  *ngIf="viewType == '1';then one; else two">
</ng-template>


<!-- Panel View 1 : Start -->
<ng-template #one>
    <div id="fh5co-intro-section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 animate-box text-center fadeInUp animated">
              <h2 class="intro-heading">Create your own Site in minutes</h2>
              <p>Created by the NS2 team just for Artists like You.</p>
            </div>
          </div>
        </div>
    </div>
</ng-template>
<!-- Panel View 1 : End -->

<!-- Panel View 2 : Start -->
<ng-template #two>
<div id="fh5co-featured">
    <div class="container-fluid">
      <div class="row">
        <div class="post-entry">
          <div class="col-md-6 col-md-push-6 nopaddingbottom animate-box fadeInUp animated">
            <div class="post-image" style="background-image: url(assets/panel/home-panel.jpg);"></div>
          </div>
          <div class="col-md-6 col-md-pull-5 animate-box fadeInUp animated">
            <div class="display-tc">
              <div class="desc">
                <span class="date">Your Day Starts Today</span>
                <h3>Use from a bunch of prebuilt components</h3>
                <p>We will give you all the tools you need to create a site that will slingshot your career and take you to new heights of stardom.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
  <!-- Panel View 2 : End -->


