<div class="flexslider js-fullheight">
  <ul class="slides">
     <li [ngStyle]="{'background-image': 'url(assets/slider/slide-1.jpg)'}">
       <div class="overlay-gradient"></div>
       <div class="container">
         <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
           <div class="slider-text-inner">
             <div class="desc">
               <span></span>
               <h2>Craft Your Own Web Page</h2>
               <p>Create a Web Site that depicts exactly who you are. You also have an option to choose from our predefined templates.</p>
             </div>
           </div>
         </div>
       </div>
     </li>
     <li [ngStyle]="{'background-image': 'url(assets/slider/slide-2.jpg)'}">
       <div class="overlay-gradient"></div>
       <div class="container">
         <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
           <div class="slider-text-inner">
             <div class="desc">
               <span></span>
               <h2>Paint your own design on your very own Site.</h2>
               <p>Do It Your Way. Theme It Your Way.</p>

             </div>
           </div>
         </div>
       </div>
     </li>
     <li [ngStyle]="{'background-image': 'url(assets/slider/slide-3.jpg)'}">
       <div class="overlay-gradient"></div>
       <div class="container">
         <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
           <div class="slider-text-inner">
             <div class="desc">
               <span></span>
               <h2>Easy on your Pocket</h2>
               <p>Gone are the days when you had to spend big bucks on getting a site developed.</p>
             </div>
           </div>
         </div>
       </div>
     </li>
    </ul>
  </div>