<div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3 class="section-title">About NS2 Profiler</h3>
          <p>Our motto is to enable Artists from all around the world to be able to spread their work through the web. For them to be able to reek the fruits of all their hard work in putting together their masterpieces.</p>
        </div>
        
        <div class="col-md-3 col-md-push-1">
          <h3 class="section-title">Links</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">FAQ / Contact</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h3 class="section-title">Information</h3>
          <ul>
            <li><a href="#">Terms &amp; Condition</a></li>
            <li><a href="#">License</a></li>
            <li><a href="#">Privacy &amp; Policy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="section-title">Newsletter</h3>
          <p>Subscribe for our newsletter</p>
          <form class="form-inline" id="fh5co-header-subscribe">
            <div class="row">
              <div class="col-md-12 col-md-offset-0">
                <div class="form-group">
                  <input type="text" class="form-control" id="email" placeholder="Enter your email">
                  <button type="submit" class="btn btn-default"><i class="icon-paper-plane"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row copy-right">
        <div class="col-md-6 col-md-offset-3 text-center">
          <p class="fh5co-social-icon">
            <a href="#"><i class="icon-twitter2"></i></a>
            <a href="#"><i class="icon-facebook2"></i></a>
            <a href="#"><i class="icon-instagram"></i></a>
            <a href="#"><i class="icon-dribbble2"></i></a>
            <a href="#"><i class="icon-youtube"></i></a>
          </p>
          <p>Copyright 2019 NS2 Corporation &#169;. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>