@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Karla", Arial, sans-serif;
  line-height: 1.8;
  font-size: 20px;
  background: #f0f0f0;
  /* background-image: url(../images/photography.png); */
  font-weight: 300;
  overflow-x: hidden;
}
body.menu-show, body.login-reg-show {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

#fh5co-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#fh5co-wrapper > div {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

a {
  color: #539DDB;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  text-decoration: underline;
  color: #539DDB;
}
a:focus, a:active {
  outline: none;
}

p, span {
  margin-bottom: 1.5em;
  font-size: 18px;
  color: #727272;
  font-weight: 300;
  font-family: "Karla", Arial, sans-serif;
}

span {
  font-size: 18px;
  color: rgba(114, 114, 114, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", Arial, serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

::-moz-selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

::selection {
  color: #fcfcfc;
  background: #b7c2c2;
}

#fh5co-page {
  position: relative;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  background: #fff;
}
.menu-show #fh5co-page, .login-reg-show #fh5co-page {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

#fh5co-main-nav, #fh5co-main-nav-login-register {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.93);
  padding: 3em 0;
  z-index: 1002;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  overflow-y: scroll;
}
#fh5co-main-nav .fh5co-nav-toggle, #fh5co-main-nav-login-register .fh5co-nav-toggle-login-register {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 20px;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 0;
  padding: 0 !important;
  visibility: hidden;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-main-nav .fh5co-nav-toggle:hover, #fh5co-main-nav-login-register .fh5co-nav-toggle-login-register:hover {
  background: rgba(0, 0, 0, 0.7);
}
#fh5co-main-nav .fh5co-nav-toggle i, #fh5co-main-nav-login-register .fh5co-nav-toggle-login-register i  {
  top: 19px !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0;
  text-indent: 0;
}
#fh5co-main-nav .fh5co-nav-toggle.show, #fh5co-main-nav-login-register .fh5co-nav-toggle-login-register.show {
  visibility: visible;
  opacity: 1;
}
.menu-show #fh5co-main-nav, .login-reg-show #fh5co-main-nav-login-register {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


#fh5co-main-nav h1, #fh5co-main-nav-login-register h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
}
#fh5co-main-nav h1 .fh5co-logo {
  color: #fff;
}
#fh5co-main-nav h1 .fh5co-logo:hover {
  text-decoration: none;
}
#fh5co-main-nav ul {
  text-align: center;
  padding: 50px 0 50px 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul {
    padding: 20px 0 0 0;
  }
}
#fh5co-main-nav ul li {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-family: "Playfair Display", Arial, serif;
}
#fh5co-main-nav ul li a {
  display: block;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  padding: 10px 20px;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul li a {
    font-size: 30px;
    padding: 10px 0;
  }
}
#fh5co-main-nav ul li a:hover, #fh5co-main-nav ul li a:active, #fh5co-main-nav ul li a:focus {
  color: white;
  outline: none;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #fh5co-main-nav ul li {
    display: block;
  }
}
#fh5co-main-nav .fh5co-social-icon a i {
  color: rgba(255, 255, 255, 0.5);
}

.fh5co-table {
  display: table;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-table {
    display: block !important;
    height: inherit !important;
    width: inherit !important;
  }
}
.fh5co-table .fh5co-table-cell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .fh5co-table .fh5co-table-cell {
    display: block !important;
    height: inherit !important;
    width: inherit !important;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Karla", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn.btn-md {
  padding: 10px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
  color: #fff !important;
}

.btn-primary {
  background: #539DDB;
  color: #fff;
  border: 2px solid #539DDB;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #68a9df !important;
  border-color: #68a9df !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #539DDB;
  border: 2px solid #539DDB;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #539DDB;
  color: #fff !important;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.view-button .btn-outline {
  background: transparent;
  color: #000;
  border: 2px solid #000;
}
.view-button .btn-outline:hover, .view-button .btn-outline:focus, .view-button .btn-outline:active {
  background: #fff !important;
  color: #000 !important;
  border: 2px solid #000 !important;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1em 0;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  header {
    padding: 2em 0;
  }
}
header .fh5co-navbar-brand {
  float: left;
  width: 100%;
  position: relative;
  padding: 0;
}
header .fh5co-navbar-brand h1 {
  width: 20%;
  display: block;
  font-family: "Playfair Display", Arial, serif;
  margin-bottom: 0;
}
header .fh5co-navbar-brand .fh5co-logo {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}
header .fh5co-navbar-brand .fh5co-logo:hover {
  text-decoration: none !important;
  color: #fff !important;
}
header .fh5co-navbar-brand .fh5co-logo:active, header .fh5co-navbar-brand .fh5co-logo:focus {
  outline: none;
  text-decoration: none;
}
header .fh5co-navbar-brand .fh5co-logo span {
  font-size: 12px;
  letter-spacing: 4px;
  display: block;
  margin-bottom: 2px;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.3);
  line-height: 20px;
}
header .fh5co-navbar-brand .fh5co-social-icon {
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-right: 50px;
}
header .fh5co-navbar-brand .fh5co-social-icon a {
  margin-bottom: 0;
}
@media screen and (max-width: 992px) {
  header .fh5co-navbar-brand .fh5co-social-icon a i {
    color: rgba(255, 255, 255, 0.5);
  }
}
@media screen and (max-width: 480px) {
  header .fh5co-navbar-brand .fh5co-social-icon {
    display: none;
  }
}

.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
  position: absolute !important;
  top: 0;
  right: 0;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #fff;
}
.fh5co-nav-toggle.dark.active i::before, .fh5co-nav-toggle.dark.active i::after {
  background: #fff;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 30px;
  height: 2px;
  color: #000;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #000;
  transition: all .2s ease-out;
}
.menu-show .fh5co-nav-toggle i, .login-reg-show .fh5co-nav-toggle i {
  background: #fff;
  color: #fff;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.menu-show .fh5co-nav-toggle i::before, .menu-show .fh5co-nav-toggle i::after,
.login-reg-show .fh5co-nav-toggle i::before, .login-reg-show .fh5co-nav-toggle i::after {
  background: #fff;
}
@media screen and (max-width: 992px) {
  .fh5co-nav-toggle i {
    background: rgba(255, 255, 255, 0.8);
  }
  .fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    background: rgba(255, 255, 255, 0.8);
  }
}
.fh5co-nav-toggle.dark i {
  position: relative;
  color: #000;
  background: #000;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.dark i::before, .fh5co-nav-toggle.dark i::after {
  background: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  float: right;
  z-index: 1003;
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
    top: 0px;
  }
}

#fh5co-hero {
  width: 65%;
  margin-bottom: 5em;
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
  z-index: 1;
}
@media screen and (max-width: 992px) {
  #fh5co-hero {
    width: 100%;
  }
}
#fh5co-hero .btn {
  font-size: 24px;
}
#fh5co-hero .btn.btn-primary {
  padding: 14px 30px !important;
}
#fh5co-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#fh5co-hero .flexslider .slides {
  position: relative;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slides {
    overflow: hidden;
  }
}
#fh5co-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
}
#fh5co-hero .flexslider .slides li:after {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
#fh5co-hero .flexslider .flex-control-nav {
  position: absolute;
  bottom: 1em;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .flex-control-nav {
    bottom: 1em;
  }
}
#fh5co-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#fh5co-hero .flexslider .flex-direction-nav {
  display: none;
}
#fh5co-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  height: 700px;
  z-index: 9;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text {
    text-align: center;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  height: 700px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner p {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner p .btn:hover {
  color: #fff !important;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner span {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  display: block;
  margin-bottom: 20px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead a {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead a:hover {
  text-decoration: none;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .desc {
  padding: 5em;
  background: rgba(83, 157, 219, 0.9);
  -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 992px) {
  #fh5co-hero .flexslider .slider-text > .slider-text-inner .desc {
    padding: 0;
    background: none;
    -webkit-box-shadow: 0px 10px 30px -13px transparent;
    -moz-box-shadow: 0px 10px 30px -13px transparent;
    box-shadow: 0px 10px 30px -13px transparent;
  }
}

#fh5co-featured,
#fh5co-about,
#fh5co-blog,
#fh5co-contact-section,
#fh5co-work-section,
#fh5co-about-section,
#fh5co-map-section {
  padding-bottom: 7em;
}

#fh5co-intro-section {
  margin-bottom: 2em;
  padding-bottom: 2em;
}

#fh5co-blog, #fh5co-work-section {
  padding-top: 7em;
}

.fh5co-work-section {
  padding-top: 0 !important;
}

.fh5co-heading {
  margin-bottom: 3em;
}
.fh5co-heading h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
}

.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

.intro-heading {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .intro-heading {
    font-size: 30px;
  }
}

.post-entry {
  width: 100%;
  min-height: 700px;
  display: table;
}
@media screen and (max-width: 992px) {
  .post-entry {
    display: block;
    min-height: 400px;
  }
}
.post-entry .post-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 700px;
}
@media screen and (max-width: 768px) {
  .post-entry .post-image {
    display: block;
    height: 400px;
  }
}
.post-entry .display-tc {
  display: table-cell;
  vertical-align: middle;
  height: 700px;
  text-align: right;
}
@media screen and (max-width: 992px) {
  .post-entry .display-tc {
    display: block;
    vertical-align: none;
    text-align: left;
    height: inherit;
  }
}
.post-entry .desc {
  padding: 5em;
  background: rgba(83, 157, 219, 0.9);
  -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.75);
}
.post-entry .desc h3 {
  color: #fff;
  font-size: 40px;
  line-height: 54px;
}
.post-entry .desc p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
}
.post-entry .desc .date {
  display: block;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
@media screen and (max-width: 768px) {
  .post-entry .desc {
    padding: 1.5em;
  }
  .post-entry .desc h3 {
    font-size: 30px;
  }
}

.work {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  margin-bottom: 30px;
}
.work .view {
  width: 100%;
  height: 400px;
  display: table;
  opacity: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .work .view {
    opacity: 1;
  }
}
.work .view span, .work .view i {
  height: 400px;
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.work h3 {
  margin-top: 30px;
}
.work h3 a {
  color: #000;
}
.work:hover .view, .work:focus .view {
  opacity: 1;
}

.fh5co-counters {
  padding: 3em 0;
  background: #e6e6e6;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.fh5co-counters .heading-section h2 {
  color: #fff;
  font-weight: 400;
  font-size: 40px;
}
.fh5co-counters .fh5co-counter {
  font-size: 60px;
  display: block;
  color: #fff;
  font-family: "Karla", Arial, sans-serif;
  width: 100%;
  font-weight: 700;
  margin-bottom: .3em;
}
.fh5co-counters .fh5co-counter-label {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 5px;
  margin-bottom: 2em;
  display: block;
}

.about-content {
  margin-bottom: 5em;
}

.fh5co-staff {
  margin-bottom: 30px;
}
.fh5co-staff img {
  margin-bottom: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 10px 30px -13px rgba(0, 0, 0, 0.21);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.fh5co-staff p {
  margin-bottom: 30px;
}
.fh5co-staff .role {
  color: #b3b3b3;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
  font-size: 16px;
}
.fh5co-staff:hover img {
  background: rgba(83, 157, 219, 0.2);
}

.fh5co-blog {
  margin-bottom: 60px;
}
.fh5co-blog > a {
  display: block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-blog > a img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-blog {
    width: 100%;
  }
}
.fh5co-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 30px;
  float: left;
  background: #fff;
  border: 1px solid rgbs(#000, 0.2);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
}
.fh5co-blog .blog-text span.comment {
  float: right;
  font-size: 14px;
}
.fh5co-blog .blog-text span.comment a {
  color: rgba(0, 0, 0, 0.3);
}
.fh5co-blog .blog-text span.comment a i {
  color: #539DDB;
  padding-left: 7px;
}
.fh5co-blog .blog-text span.posted_on {
  font-size: 13px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.fh5co-blog .blog-text h3 {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.fh5co-blog .blog-text h3 a {
  color: black;
}
.fh5co-blog .blog-text:hover {
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.3);
}
.fh5co-blog .blog-text:hover h3 a {
  text-decoration: none;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
  color: #727272;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: #727272;
}
.contact-info li a {
  color: #727272;
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 300;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:active {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

input[type="text"] {
  height: 50px;
}

.form-group {
  margin-bottom: 30px;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4em 0 0 0;
}
#footer .section-title {
  font-size: 24px;
  font-weight: 400;
}
#footer ul {
  margin: 0;
  padding: 0;
}
#footer ul li {
  font-size: 18px;
  list-style: none;
  margin-bottom: 0;
}
#footer ul li a {
  color: #727272;
}
#footer .float {
  width: 50%;
  float: left;
}
@media screen and (max-width: 768px) {
  #footer .float {
    width: 100%;
  }
}
#footer .copy-right {
  padding-top: 4em;
}
#footer a {
  color: black;
}
#footer a:hover, #footer a:focus {
  text-decoration: none;
  color: #539DDB;
}
#footer .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#footer .form-inline .form-group .form-control {
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#footer #fh5co-header-subscribe #email {
  padding-right: 4em;
}
#footer #fh5co-header-subscribe button {
  position: absolute;
  top: 0;
  right: 10px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background: #539DDB;
  border: none;
}
#footer #fh5co-header-subscribe button i {
  color: #fff;
  font-size: 25px;
}

.fh5co-social-icon a {
  padding: 0 5px;
}
.fh5co-social-icon a i {
  color: #000;
}
.fh5co-social-icon a:hover, .fh5co-social-icon a:focus {
  text-decoration: none;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.nopaddingbottom {
  padding-bottom: 0 !important;
}

.js .animate-box {
  opacity: 0;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mx-1 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.my-1 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mx-2 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.my-2 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

/* Padding generic */
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.px-1 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.py-1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.px-2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.py-2 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
/* Padding generic */

/* Border generic */

.br-1 {
  border-right: 1px solid #fff;
}
.bl-1 {
  border-left: 1px solid #fff;
}

/* Border generic */

/*# sourceMappingURL=style.css.map */
